.main-tx {
  .menu-main {
    width: 200px;
    height: 100%;
    padding: 15px 0;

    .menu-title {
      font-size: 12px;
    }
  }
  .tx-right {
    width: calc(100% - 200px);
    .tx-home-main {
      width: 100%;
      height: 100%;
      background-color: #f00;
    }
    .tx-hero-main {
      width: 100%;
      height: 100%;
      background-color: #0f0;
    }
    .tx-count-main {
      width: 100%;
      height: 100%;
      background-color: #00f;
    }
  }
}